body {
    background: url('../images/field.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Lobster', cursive;
    padding: 10px;
    color: lightyellow;
    font-size: 25px;
    letter-spacing: 1px;
}

body a {
    color: yellow;
}

nav {
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

nav a {
    color: seashell;
    padding: 0 15px 15px 0;

}

h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2.5em;
    background: -webkit-linear-gradient(red, white, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    height: 150px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px 20px 20px;
    margin: auto;
    text-align: center;
}

li {
    padding: 20px 10px;
    list-style: none;
}

[type="submit"] {
    background-color: lightblue;
}

a [edit] {
    color: red;
}